---
layout: default
title: Blog
description: Posts on systems, Linux, and cybersecurity.
permalink: /blog/
---

<h1 class="post-list-title">Blog</h1>
<p class="lead">Longer notes and experiments. Subscribe via <a href="{{ '/feed.xml' | relative_url }}">RSS</a>.</p>

<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <p class="list-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></p>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      {% if post.description %}
        <p class="excerpt">{{ post.description }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
